.container {
  display: flex;
  width:75vw;
  flex-flow: row wrap;
  margin-left: 150px;
}

.leftbtn {
  margin-left: 600px;
  background-color: rgb(73, 73, 73);
  border-color: rgb(73, 73, 73);
  border-radius: 15%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.rightbtn {
  margin-left: 25px;
  background-color: rgb(73, 73, 73);
  border-color: rgb(73, 73, 73);
  border-radius: 15%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}