footer{
  padding: 18px;
}

footer {
  color: white;
  background-color: #373737;
  color: #DDDDDD;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}